/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/

.clear {
	clear: both;
}

/* --------------------------------------
   Layout
   -------------------------------------- */
	 .navbar-toggle{
		 margin-top: 15px;
	 }

.navbar-brand h1{
	margin-top: 0px;
	font-size: 40px;
	margin-bottom: 0px;
}
.navbar-nav{

	margin-top: 15px;

}
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}


#search{
	align-items: center;
}
.mid{
 margin-top: 80px;
	background: url("../../images/screen_lg.jpg")  no-repeat;
	background-size: cover;
	height:200px;

}
.form-control{

	width: 400px;
	height: 40px;
	align-items: center;
}
.bullets{
	list-style:none;
}
.bullets{
	color: black;
}

.bullets a:hover{
	text-decoration: none;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

p {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */



/* --------------------------------------
   Carousel
   -------------------------------------- */

#myCarousel{
	padding-top: 10px;
}
	 .carousel-caption {
	 	font-size: 24px;
	 }
.carousel-inner .item .carousel-caption #slide1{
	position: absolute;
	top: 100px;
	left: 0px;
	margin: auto;
	z-index: 9999;
}
.carousel-inner .backdrop{
	background:black;
	height: 100%;
	width: 100%;
	opacity:0.1;
	top: 0;
	left: 0;
	position: absolute;
}
  .carousel-caption {
		font-size: 60px;

	}

 .item #slide2{
	 color: red;
 }
	 #myCarousel .item { height: 500px; margin-top: 20px;}

	 .carousel-caption h2{
		 text-align: left;
		 left: 0px;
		 font-size: 25px;
			color: black;
		 margin-left: 8px;
		 margin-bottom: 150px;

	 }
	 .abc{
		 font-size: 20px;
		 text-align: center;
		 color:black;


	 }
	 .ab{
		 font-size: 26px;
		 text-align: center;
		 color: #900C3F;
	 }

	.highlight{
	 color: white;
	 background: black;
	}
	.high{
	 margin-left: 00px;
	 margin-top: 200px;
	 font-size: 30px;
	 color: #4E2736;

	}



.navigation li{
	list-style: none;
}
.tab-content h1{
text-align: center;
margin-bottom: 30px;
}
#moreInfo h3{

	margin-bottom: 20px;
}
.right{
	margin-left: 400px;

}


	 #slide1 {
	 	background: url('../../images/img1_med.jpg') top center no-repeat;
	 	background-size: cover;
	 }

	 #slide2 {
	 	background: url('../../images/img2_med.jpg') top center no-repeat;
			background-size: cover;
	 }

	 #slide3 {
	 	background: url('../../images/img4_md.jpg') top center no-repeat;
			background-size: cover;
	 }





/* --------------------------------------
   Global Styles
   -------------------------------------- */
	 #features {
	 	text-align: center;
		margin-top: 20px;
	 }

#register{
	margin-top: 10px;
	margin-right: 10px;
}

#bigCallout{
	margin-top: 20px;
}

.mid{
	margin-top: 80px;
	text-align: center;
}
.unstyled{
	list-style: none;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	.navigation a{
		font-size: 12px;
	}


	#slide1 {
		background: url('../../images/img1_xs.jpg') top center no-repeat;
		background-size: cover;
		height: 500px;
	}

	#slide2 {
		background: url('../../images/img2_xs.jpg') top center no-repeat;
			background-size: cover;
	}

	#slide3 {
		background: url('../../images/img4_xs.jpg') top center no-repeat;
	background-size: cover;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.mid h2{
		font-size: 15px;

	}
	.mid .form-control{
		width: 150px;
	}
	.navigation a{
		font-size: 15px;
	}


	#myCarousel .item { height: 400px; }

	.carousel-caption h2{
		text-align: left;
		left: 0px;
   font-size: 15px;
    color: black;
		margin-left: 0px;
		margin-bottom: 100px;

	}
	.abc{
		font-size: 15px;
		text-align: center;
		color:black;

	}
	.ab{
		font-size: 20px;
		text-align: center;
		color: #900C3F;
	}

.highlight{
	color: white;
	background: black;
}
.high{
	margin-left: 00px;
	margin-top: 200px;
	font-size: 15px;
	color: #4E2736;

}


	#slide1 {
		background: url('../../images/img1_sm.jpg') top center no-repeat;
		background-size: cover;
	}

	#slide2 {
		background: url('../../images/img2_sm.jpg') top center no-repeat;
    	background-size: cover;
	}

	#slide3 {
		background: url('../../images/img4_sm.jpg') top center no-repeat;
	background-size: cover;
	}

	.carousel-caption {
		font-size: 16px;
	}

	.carousel-caption h1 {
		font-size: 22px;
	}

}

/* Large desktop */
@media (min-width: 1200px) {
	#myCarousel .item { height: 600px; }

	.carousel-caption h2{
		text-align: left;
		left: 0px;
   font-size: 40px;
    color: black;
		margin-left: 10px;
		margin-bottom: 250px;

	}
	.abc{
		font-size: 30px;
		text-align: center;
		color:grey;

	}
	.ab{
		font-size: 40px;
		text-align: center;
		color: #900C3F;
	}

.highlight{
	color: white;
	background: black;
}
.high{
	margin-left: 30px;
	margin-top: 200px;
	font-size: 40px;
	color: #4E2736;

}
.navigation a{
	font-size: 25px;
}
	#slide1 {
		background: url('../../images/img1_lg.jpg') top center no-repeat;
	background-size: cover;
	}

	#slide2 {
		background: url('../../images/img2.jpg') top center no-repeat;
	background-size: cover;
	}

	#slide3 {
		background: url('../../images/img4_lg.jpg') top center no-repeat;
	background-size: cover;
	}

}
